*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: #333;
	font-family: '微软雅黑';
	list-style: none;
}
body{
	background-color: #f4f4f4;
}
.header{
	position: relative;
	width: 100%;
	height: 82px;
}
.top{
	width: 1240px;
	margin:0px auto ;
	height: 81.2px;
	/* overflow: hidden; */
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 999;
}
.top h1{
	float: left;
	margin-top: -10px;
}
.top h1 img{
	width: 200px;
	height: auto;
}
.topul{
	float: right;
}
.topul li{
	padding: 31px 20px 30px;
	float: left;
	font-size: 14px;
}
.topul li a{
	width: 60px;
	line-height: 30px;
	text-align: center;
}
.topul li:hover a{
	color: #00b9f2;
}
.xiala{
	width: 100%;
	height: 200px;
	background-color: #fff ;
	overflow: hidden;
	padding-top: 70px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 98;
	display: none;
}
.xiala ul{
	width:1240px;
	margin: 0px auto;
	margin-top: 0px;
	overflow: hidden;
}
.xiala ul li{
	float: left;
	width: 10%;
	opacity: 0.6;
	padding: 10px 15px;
}
.xiala ul li:hover{
	opacity: 1;
}
.xiala ul li img{
	width: 120px;
	height: 120px;
	margin-left: 10px;
}
.xiala ul li p{
	text-align:center;
	font-size: 14px;
	color: #333; 
}
.xialatwo{
	width: 100%;
	height: 310px;
	background-color: #fff;
	padding-top: 70px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	display: none;
}
.xialatwo a img{
	width: 1240px;
	height: auto;
	margin-left: 171.5px;
}



.sousuokuang{
	float: right;
	position: relative;
}
.sousuokuang input{
	width: 170px;
	height: 30px;
	margin-top: 26px;
	padding-left: 10px;
	border: 1px solid #999;
	border-radius: 30px;
	overflow: hidden;
}
.sousuokuang .sousuo{
	position: absolute;
	top: 28px;
	left: 152px;
}
.sousuo img{
	width: 25px;
}
.denglu{
	float: right;
	margin-left: 12px;
	margin-top:13px ;
	overflow: hidden;
}
.denglu img{
	width: 50px;
	height: 50px;
}
.top .dengluul{
 	width: 98px;
 	background-color: #fff;
 	height: 120px;
 	float: none;
 	position: absolute;
 	right: 16px;
 	display: none;
 }
 .top .dengluul::before{
 	content: "";
 	width: 0px;
 	height: 0px;
 	border: 10px solid;
 	border-color: transparent transparent #fff;
 	position: absolute;
 	left: 38px;
 	top: -14px;
 }
.top .dengluul li{
 	text-align: center;
 	line-height: 18px;
 	width: 100px;
 	padding: 5px 0px;
 	font-size: 12px;
 }
.dengluul li a:hover{
 	color: #00b9f2;
 }
.gouwuche{
	float: right;
	padding: 20px 0px;
	margin-left:6px;
	margin-right: 4px;
	width: 29px;
	height: 29px;
}
.gouwuche img{
	width: 33px;
	height: 33px;
}




.section{
	width: 100%;
	height: 100vh;
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
}
.section h4{
	font-size: 48px;
	font-weight: 400;
	color: #333;
	margin-top: 88px;
	margin-bottom: 20px;
	text-align: center;
}
.section a{
	color: #35b5fd;
	font-size: 20px;
	margin-left: 46%;
}

/* .section .diyihang{
	width: 1240px;
	margin: 0px auto;
}
.diyihang li{
	width: 33.33%;
}
.diyihang a h3{
	font-size: 26px;
	color: #333;
	font-weight: 400;
	display: inline-block;
}
.diyihang a img:nth-child(2){
	float: left;
}
.diyihang a img:nth-child(3){
	height: 240px;
} */
















.liaojie{
	width: 100%;
	position: relative;
}
.liaojie a{
	width: 100%;
	display: inline-block;
	height: 368px;
}
.liaojie a img{
	width: 150%;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	transition: 1s;
}
.liaojie a img:hover{
	opacity:0.8 ;
}











.footer{
	width: 100%;
	background-color: #fff;
	overflow: hidden;
	position: relative;
}
.dibu{
	width: 1240px;
	margin:0px auto ;
}
.shang{
	overflow: hidden;
	border-bottom: 1px solid #d6d6d6;
}
.shangul{
	width: 1000px;
	float: left;
	margin-top: 50px;
	margin-bottom: 30px;
}
.shangul li{
	width: 15%;
	float: left;
}
.shangul li p{
	font-size: 12px;
	color: #999;
	text-align: center;
	line-height: 30px;
}
.shangul img{
	width: 50px;
	height: 39px;
	display: block;
	margin: 0px auto;
}
.kefu{
	float: right;
	text-align: right;
	margin-top:25px;
	margin-bottom: 30px;
}
.kefu p:nth-child(1){
	line-height: 30px;
	font-size: 12px;
	color: #999;
}
.kefu p:nth-child(2){
	line-height: 40px;
	font-size: 25px;
	font-weight: 400;
	color: #00c3f5;
}
.kefu a{
	height: 30px;
	padding: 0px 16px;
	line-height: 30px;
	border-radius: 20px;
	background-color: #00c3f5;
	color: #fff;
	font-size: 14px;
	display: inline-block;
}


.xia{
	overflow: hidden;
	margin-bottom: 40px;
}
.xiaul{
	width: 1240px;
	float: left;
	padding-top: 30px;
	overflow: hidden;
}
.xiaul li{
	float: left;
	height: 25px;
}
.xiaul li a{
	color: #999;
	padding-right: 16px;
	border-right:1px solid #d6d6d6;
	margin-right: 15px;
	font-size: 12px;
}
.xiaul li a:hover{
	color: #31a5e7;
}
.xiahou{
	overflow: hidden;
}
.xiaul .xiahou a{
	border-right:none; 
}
.xiaul .xiahou a:hover{
	color: #666;
}
.xiahou p{
	width: 18px;
	height: 18px;
	background-image: url('../images/footer/yuyan.png');
	background-position: -18px 0px;
	background-size: cover;
	display: inline-block;
	position: relative;
	top: 3px;
}

.xiatwo{
	padding-top: 8px;
	float: left;
	overflow: hidden;
	width: 100%;
}
.xiatwo p:nth-child(1){
	color: #999;
	font-size: 12px;
	float: left;
	line-height: 27px;
	margin-right: 8px;
}
.xiatwo a{
	font-size:12px;
	color: #999;
	float: left;
	line-height: 27px;
	margin-right: 5px;
}
.xiatwo a:hover{
	color: #31a5e7;
}
.xiatwo p:nth-child(6){
	color: #999;
	font-size: 12px;
	float: left;
	line-height: 27px;
	margin-right: 8px;
	text-align:right; 
}
.xiatwo p:nth-child(6) span{
	background-image: url('../images/footer/huizhang.png');
	width: 14px;
	height: 18px;
	display: inline-block;
	position: relative;
	top: 4px;
}
.tubiaoone{
	background-image: url('../images/footer/biao.png');
	width: 16px;
	height: 18px;
	display: inline-block;
	position: relative;
	top: 3px;
	margin: 0px 5px;
}
.tubiaoone:hover{
	background-image: url('../images/footer/biao1.png');

}
.tubiaotwo{
	background-image: url('../images/footer/che.png');
	width: 16px;
	height: 18px;
	display: inline-block;
	position: relative;
	top: 3px;
	margin: 0px 5px;
}
.tubiaotwo:hover{
	background-image: url('../images/footer/che1.png');
}
.tubiaothree{
	background-image: url('../images/footer/xin.png');
	width: 16px;
	height: 18px;
	display: inline-block;
	position: relative;
	top: 3px;
	margin: 0px 5px;
}
.tubiaothree:hover{
	background-image: url('../images/footer/xin1.png');
}



.tubiao{
	float: right;
}
.tubiaolianjie i{
	background-image: url('../images/footer/tubiaolianjie.png');
	float: left;
	background-size: cover;
	display: inline-block;
	margin: 0px 10px;
	width: 20px;
	height: 20px;
}
.tubiaolianjie img{
	width: 180px;
	height: 180px;
	position: absolute;
	bottom: 75px;
	right: 170px;
	box-shadow: 2px 2px 2px 2px #999;
	display: none;
}
.tubiaolianjie i:hover{
	background-image: url('../images/footer/tubiaolianjie1.png');
}
.tubiaolianjie i:hover+img{
	display: block;
}
/* .tubiaoweixin{
	position: relative;
} */
.tubiaoweixin i{
	background-image: url('../images/footer/tubiaoweixin.png');
	float: left;
	background-size: cover;
	display: inline-block;
	margin: 0px 10px;
	width: 22px;
	height: 20px;
}
.tubiaoweixin img{
	width: 180px;
	height: 180px;
	position: absolute;
	bottom: 75px;
	right: 140px;
	box-shadow: 2px 2px 2px 2px #999;
	display: none;
}
.tubiaoweixin i:hover{
	background-image:  url('../images/footer/tubiaoweixin1.png');
}
.tubiaoweixin i:hover+img{
	display: block;
}
.tubiaokongjian{
	background-image: url('../images/footer/tubiaokongjian.png');
	float: left;
	background-size: cover;
	display: inline-block;
	margin: 0px 10px;
	width: 20px;
	height: 20px;
}
.tubiaokongjian:hover{
	background-image: url('../images/footer/tubiaokongjian1.png');
}
.tubiaoweibo{
	background-image: url('../images/footer/tubiaoweibo.png');
	float: left;
	background-size: cover;
	display: inline-block;
	margin: 0px 10px;
	width: 22px;
	height: 20px;
}
.tubiaoweibo:hover{
	background-image: url('../images/footer/tubiaoweibo1.png');
}